<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>API Challenge</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2 style="padding-left: 5%;">Features:</h2><br>
        <div style="padding-left: 5%;">
            <button onclick="location.href = '/api/provider/list/'">List All Providers</button><br><br>
            <button onclick="location.href = '/api/provider/create/'">Create Provider</button><br><br>
            <button onclick="location.href = '/api/provider/get/'">Retrieve Provider</button><br><br>
            <button onclick="location.href = '/api/provider/edit/'">Update Provider</button><br><br>
            <button onclick="location.href = '/api/provider/delete/'">Delete Provider</button><br><br>
            <button onclick="location.href = '/api/service_area/list/'">List All Service Areas</button><br><br>
            <button onclick="location.href = '/api/service_area/create/'">Create Service Area</button><br><br>
            <button onclick="location.href = '/api/service_area/edit/'">Update Service Area</button><br><br>
            <button onclick="location.href = '/api/service_area/get/'">Retrieve Service Area</button><br><br>
            <button onclick="location.href = '/api/service_area/delete/'">Delete Service Area</button><br><br>
            <button onclick="location.href = '/api/service_area/get/all/'">All Service Areas By Point</button>
        </div>
    </body>
</html>