<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>API Challenge</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2 style="padding-left: 5%;">Update Provider Info:</h2><br>
        <form method="GET">
            <p>Enter Phone Number (without country code):</p>
            <input type="text" id="number" name="number"><br><br>
            <button type="submit">Submit</button>
        </form>
        <hr style="width:100%;color:black;"><br><br>
        {% if flag %}
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        {% endif %}
    </body>
</html>